.main-banner{
    .banner-content{
        h1{
            font-family: 'Clash Display';
            font-style: normal;
            font-weight: 600;
            font-size: 94.5794px;
            color: #002C6E;
            .builder-community{
                color: #5271FF;
            }
        }
        p{
            font-family: 'SF Pro Display', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            color: #022E70;
        }
    }
}